@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* The Grainy Texture Overlay */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.04;
  pointer-events: none;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  z-index: 50;
}

input, textarea {
  background: #111111 !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  color: white !important;
}